html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
button#fliptoggle {
  display: block;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  padding: 2em;
  font-size: 1.25em;
}
#flipbox1 {
  width: 100%;
  height: 100%;
/*
  height: 480px;
  */
}
#flipbox1 > div {
  text-align: center;
  font-size: 2em;
}
#flipbox1 > div:first-child {
  background: #ecc;
}
#flipbox1 > div:last-child {
  background: #cce;
}
