html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
p {
  margin: 1em 0.5em;
}
button#fliptoggle {
  display: block;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  padding: 2em;
  font-size: 1.25em;
}
#flipbox1 {
  width: 100%;
  height: 200px;
}
#flipbox1 > div {
  text-align: center;
  font-size: 2em;
}
#flipbox1 > div:first-child {
  background: #ecc;
}
#flipbox1 > div:last-child {
  background: #cce;
}

#card-select form {
  padding: 1em;
}
busybox-storage-demo textarea {
  font-size: 0.85em;
  width: 99%;
  height: 20em;
}
brick-card {
  overflow-y: auto;
}

brick-card#card-indexeddb brick-form#editForm {
  display: none;
}
brick-card#card-indexeddb brick-form#editForm.shown {
  display: block;
}
